<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ztzl.Moe-G-guide</title>
    <link rel="icon" href="./img/logo.webp" />
    <link rel="stylesheet" type="text/css" href="./node_modules/purecss/build/base-min.css">
    <link rel="stylesheet" type="text/css" href="./node_modules/purecss/build/pure-min.css">
    <link rel="stylesheet" type="text/css" href="./node_modules/purecss/build/grids-responsive-min.css">
    <link rel="stylesheet" type="text/css" href="./css/caomei1.2.8/style.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>

<body>

    <div id="erogeGuidePage">
        <div class="container pure-g">
            <div :class="{menuButtonRight: isRight}" class="pure-u-sm-6-24 pure-u-md-5-24 pure-u-lg-4-24 nav-bar">
                <div>
                    <i class="menu-button-icon" :class="{'czs-dropbox': iconX, 'czs-product-l': iconCircle, menuButtonRight: isRight}"></i>
                    <button :class="{menuButtonRight: isRight}" class="menu-button" @click="menuBar"></button>
                </div>
                <div class="pure-menu custom-restricted-width pure-menu-scrollable pure-u-1-2 pure-u-sm-6-24 pure-u-md-5-24 pure-u-lg-4-24"
                    :class="{visiable: isVisiable}">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="./img/logo.webp" alt="">
                            <div class="site-name">Ztzl.Moe</div>
                        </a>
                    </div>
                    <span class="pure-menu-heading">黄油导航</span>
                    <ul class="pure-menu-list">
                        <li v-for="card1 in cardlist1" class="pure-menu-item">
                            <a :href="'#' + card1.ID" class="pure-menu-link">{{card1.name}}</a>
                        </li>
                        <li class="pure-menu-heading">大G吧</li>
                        <li v-for="card2 in cardlist2" class="pure-menu-item">
                            <a :href="card2.link" class="pure-menu-link" target="_blank">{{card2.name}}</a>
                        </li>
                        <span class="pure-menu-heading">QQ群组</span>
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item pure-u-lg-1-3 pure-u-md-1">
                                <a href="#" class="pure-menu-link">1群</a>
                            </li>
                            <li class="pure-menu-item pure-u-lg-1-3 pure-u-md-1">
                                <a href="#" class="pure-menu-link">2群</a>
                            </li>
                            <li class="pure-menu-item pure-u-lg-1-3 pure-u-md-1">
                                <a href="#" class="pure-menu-link">鸡排群</a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1 pure-u-sm-6-24 pure-u-md-5-24 pure-u-lg-4-24 placeholder"></div>
            <div class="pure-u-sm-18-24 pure-u-md-19-24 pure-u-lg-20-24 main">
                <div id="page-list">
                    <div class="pagelists">
                        <form class="">
                            <div class="search">
                                <input @keyup.prevent="search" v-model="searchname" type="text" class="search-input" placeholder="暂时没用">
                                <button @click.prevent="search" type="submit">
                                    <i class="czs-search-l"></i>
                                </button>
                            </div>
                        </form>
                        <div v-for="(cardX,ID) in cardlist1" class="card" :id="cardX.ID">
                            <div>
                                <div class="card-name">{{cardX.name}}</div>
                            </div>
                            <div>
                                <card-link v-if="searchself" v-for="(sortlist,index) in cardX.sortlists" class="pure-u-1-2 pure-u-md-1-4 pure-u-lg-1-5">
                                    <a slot="link" :href="sortlist.link" target="_blank">
                                        <div slot="title" class="link-title">{{sortlist.name}}</div>
                                        <div class="picbox">
                                            <img slot="pic" :src="sortlist.pic">
                                        </div>
                                    </a>
                                </card-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 标签模板 -->
    <template id="link">
        <transition name="fade">
            <div @mouseleave="floatLinkLeave" @mouseenter="floatLink" :class="{'float-link': linkUP}" class="panel">
                <div :class="{'float-link-shadow': linkUP}" class="link">
                    <div class="title">
                        <slot name="title"></slot>
                    </div>
                    <slot name="link"></slot>
                    <slot name="pic"></slot>
                </div>
            </div>
        </transition>
    </template>

    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>